---
converter: markdown
---
<div>
{% raw %}



<div>
<h2 class="signature first" id="context-var">

<strong>`{{context}}`</strong> 



</h2>


### Returns:






### Examples:
```liquid
{% assign path = context.headers["PATH_INFO"] %}
{{ context | json }}
```



</div>
